In [13]:
import pyarrow.parquet as pq
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [38]:
trips = pq.read_table('yellow_tripdata_2021-01.parquet')
df = trips.to_pandas()

In [16]:
trips = pq.read_table('yellow_tripdata_2019-01.parquet')
df = trips.to_pandas()

In [39]:
df.shape

(1369769, 19)

In [20]:
# df.head(3)

In [21]:
# df.shape

In [22]:
# print(pd.io.sql.get_schema(df, 'yellow_tripdata_2021-01'))

In [44]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [45]:
engine.connect()

In [23]:
# print(pd.io.sql.get_schema(df, 'yellow_tripdata_2021-01', con=engine))

In [24]:
# df.head(0)

In [46]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [47]:
# 7 минут
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', chunksize=100000)

# Adding taxi zones

In [21]:
zones = pd.read_csv('taxi_zones.csv')

In [22]:
zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [32]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [33]:
engine.connect()

In [34]:
zones.to_sql(name='zones', con=engine, if_exists='replace')

In [40]:
query = """
SELECT * FROM zones
"""

pd.read_sql(query, con=engine)

     index  LocationID        Borough                     Zone service_zone
0        0           1            EWR           Newark Airport          EWR
1        1           2         Queens              Jamaica Bay    Boro Zone
2        2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3        3           4      Manhattan            Alphabet City  Yellow Zone
4        4           5  Staten Island            Arden Heights    Boro Zone
..     ...         ...            ...                      ...          ...
260    260         261      Manhattan       World Trade Center  Yellow Zone
261    261         262      Manhattan           Yorkville East  Yellow Zone
262    262         263      Manhattan           Yorkville West  Yellow Zone
263    263         264        Unknown                       NV         None
264    264         265        Unknown                     None         None

[265 rows x 5 columns]

In [48]:
query = """
SELECT count(*) FROM yellow_taxi_data
"""

pd.read_sql(query, con=engine)

     count
0  1369769

```sql
SELECT 
	count(distinct(index))
FROM yellow_taxi_data 
WHERE CAST(tpep_pickup_datetime AS DATE) = '2021-01-15' AND  
	  CAST(tpep_dropoff_datetime AS DATE) = '2021-01-15'
```

In [49]:
query = """
SELECT 
    count(distinct(index))
FROM yellow_taxi_data 
WHERE CAST(tpep_pickup_datetime AS DATE) = '2021-01-15' AND  
      CAST(tpep_dropoff_datetime AS DATE) = '2021-01-15'
"""

pd.read_sql(query, con=engine)

   count
0  52768

In [50]:
query = """
SELECT 
    max(trip_distance), tpep_pickup_datetime
FROM yellow_taxi_data 
LIMIT 5
"""

pd.read_sql(query, con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,None
1,1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,None
2,2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,None
3,3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,None
4,4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,None

In [53]:
query = """
SELECT 
    max(trip_distance), tpep_pickup_datetime
FROM yellow_taxi_data 
GROUP BY tpep_pickup_datetime
ORDER BY max(trip_distance) DESC
LIMIT 3
"""

pd.read_sql(query, con=engine)

         max tpep_pickup_datetime
0  263163.28  2021-01-29 13:01:00
1  140549.58  2021-01-28 10:10:00
2  114328.20  2021-01-31 06:54:06

In [54]:
query = """
SELECT 
    max(trip_distance)
FROM yellow_taxi_data 
"""

pd.read_sql(query, con=engine)

         max
0  263163.28

In [63]:
query = """
SELECT 
    count(passenger_count) 
FROM yellow_taxi_data
WHERE passenger_count IN (3) AND CAST(tpep_pickup_datetime AS DATE) = '2021-01-01'
GROUP BY CAST(tpep_pickup_datetime AS DATE)
       
"""

pd.read_sql(query, con=engine)

   count
0   1116

In [67]:
query = """
SELECT 
    max(tip_amount), DOLocationID, Zone
FROM yellow_taxi_data
JOIN zones ON yellow_taxi_data.DOLocationID = zones.LocationID
GROUP BY DOLocationID
       
"""

pd.read_sql(query, con=engine)

# For the passengers picked up in the Astoria Zone which was the drop up zone that had the largest tip?

ProgrammingError: (psycopg2.errors.UndefinedColumn) column yellow_taxi_data.dolocationid does not exist
LINE 5: JOIN zones ON yellow_taxi_data.DOLocationID = zones.Location...
                      ^

[SQL:
SELECT
    max(tip_amount), DOLocationID, Zone
FROM yellow_taxi_data
JOIN zones ON yellow_taxi_data.DOLocationID = zones.LocationID
GROUP BY DOLocationID

]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [68]:
query = """
SELECT 
    DOLocationID, Zone
FROM yellow_taxi_data
JOIN zones ON yellow_taxi_data.DOLocationID = zones.LocationID
LIMIT 5  
"""

pd.read_sql(query, con=engine)

# For the passengers picked up in the Astoria Zone which was the drop up zone that had the largest tip?

ProgrammingError: (psycopg2.errors.UndefinedColumn) column yellow_taxi_data.dolocationid does not exist
LINE 5: JOIN zones ON yellow_taxi_data.DOLocationID = zones.Location...
                      ^

[SQL:
SELECT
    DOLocationID, Zone
FROM yellow_taxi_data
JOIN zones ON yellow_taxi_data.DOLocationID = zones.LocationID
LIMIT 5
]
(Background on this error at: http://sqlalche.me/e/14/f405)